*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 1440px;
  padding: 0 50px;
  height: 100vh;
}

.red-background {
  background: linear-gradient(315deg, #ae320a 19.87%, #f75d2b 80.11%), #0a0e20;
  background-size: auto;
  color: #fff;
  outline: none;
}

.green-background {
  background: linear-gradient(315deg, #37c058 19.87%, #4bdb6d 80.11%), #0a0e20;
  color: #fff;
}
.sand-background {
  background: linear-gradient(315deg, #ffc060 19.87%, #ffe79a 80.11%), #0a0e20;
  color: #000;
}

.lemon-background {
  background: linear-gradient(315deg, #8fbe15 19.87%, #aad50e 80.11%), #0a0e20;
  color: #fff;
}
